/* =============
    Hero
============= */
#hero {


    #hero-img {
        width: 100%;
    }

    article {
        color: var(--white);

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        button {
            background-color: transparent;
            border: none;
            font-size: rem-calc(18);
            font-weight: 700;
            color: var(--white);
        }

        #hero-checklist {
            background-color: var(--orange);
            padding: 16px;

            @include xxl {
                grid-template-columns: auto 720px 16px;

            }
        }

        #hero-location {
            background-color: var(--light-orange);
            padding: 16px;

            @include xxl {
                grid-template-columns: 16px 720px auto;
            }
        }
    }
}

#hero-sub-container {
    display: grid;

    @include md {
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero-sub .";
    }

    @include xl {
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: hero-sub;
        display: grid;
        gap: 24px;

        @include md{
            grid-template-columns: 50% auto;
        }

        #planning {

        }

        #tickets {

        }

        .hero-sub-content {
            background-color: var(--blue);
            color: var(--white);
            padding: 16px;
        }
    }
}