/* =============
    Search
============= */
#search{

    >div{
        form{
            display: flex;
         
            input{
                width: 100%;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid var(--aqua-blue);
                color: var(--dark-blue);
                border-radius: 0;

                @include xl{
                    margin-right: 20px;
                }

            }


            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--dark-blue);
                opacity: 1; /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--dark-blue);
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--dark-blue);
              }



            button{
                background-color: var(--light-orange);
                border-radius: 3.5px;
                padding: 6px 10px 4px;
                margin: 0;
                border: none;

                @include md{
                    padding: 9px 16px 6px;
                }
            }
        }
    }
}
