/* =============
    Footer
============= */
footer{

    background-color: var(--dark-blue);
    color: var(--white);
    padding: 16px 0;

    @include md{
        padding: 24px 0;
    }

    @include lg{
        padding: 48px 0;
    }

    @include xl{
        padding: 64px 0;
    }

    >div{

        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;

            grid-template-areas: 
            "locations newsletter"
            "locations social";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "locations newsletter social";
        }

        h1{
            font-size: rem-calc(20);
            font-weight: 600;
            margin-bottom: 24px;
        }

        #locations{
            padding-top: 24px;
            @include md{
                grid-area: locations;
            }

            ul{

                li{
                    margin-top: 24px;

                    h2{
                        color: var(--aqua-blue);
                        font-weight: 600;
                        font-size: rem-calc(16);
                        margin-bottom: 16px;
                    }

                    

                    section{
                        display: flex;
                        align-items: center;
                        margin-top: 16px;

                        address{
                            color: var(--aqua-blue);
                            font-size: rem-calc(12);
                            font-style: normal;
                           
                        }

                        img{
                            margin-right: 24px;
                       
                        }

                        a:link, a:visited{
                            color: var(--aqua-blue);
                            transition: 0.25s;
                            text-decoration: none;


                            &:hover, &:active{
                                color: var(--white);
                            }

                        }
                    }
                }
            }
        }

        #newsletter{
            padding-top: 24px;
            @include md{
                grid-area: newsletter;
            }

            form{
                input{
                    border: none;
                    background-color: var(--light-blue);
                    width: 100%;
                    box-sizing: border-box;
                    padding: 16px 8px;
                    border-radius: 0;
                    margin-bottom: 24px;
                }

                section{
                    text-align: right;
                }


            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--dark-blue);
                opacity: 1; /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--dark-blue);
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--dark-blue);
              }
            }
        }

        #social{
            padding-top: 24px;

            @include md{
                grid-area: social;
                padding-top: 0;
                margin-top: -100px;
            }

            @include lg{
                margin: 0;
                text-align: right;
            }

            ul{
                display: flex;

                @include lg{
                    justify-content: flex-end;
                }
            
                li{
                    margin-right: 16px;

                    @include lg{
                        margin-right: 0;
                        margin-left: 16px;
                    }
                    a:link, a:visited{
                        color: var(--white);
                        font-size: rem-calc(30);
                        transition: 0.25s;

                        &:hover, &:active{
                            color: var(--aqua-blue);
                        }
                    }
                }
            }
        }


    }
}